/* Write your CSS here */
.each-Team-cards {
  background-color: #1e293b;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.competingTeamLogo {
  height: 15vh;
}
.competingTeam {
  color: white;
  font-family: 'Bree Serif';
}
.result {
  color: white;
  font-family: 'Bree Serif';
}
.matchStatus {
  color: #18ed66;
  font-family: 'Bree Serif';
}
@media (max-width: 500px) {
  .each-Team-cards {
    width: 150px;
  }
  .competingTeamLogo {
    height: 9vh;
  }
}
