/* Write your CSS here */
.linkEl {
  text-decoration: none;
}
.team-names-logo-card {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 250px;
  height: 100px;
}
.logo-images {
  height: 8vh;
  margin-right: 10px;
}
.team-names {
  color: white;
  font-family: 'Bree Serif';
  font-size: 15px;
}

@media (max-width: 575px) {
  .team-names-logo-card {
    width: 150px;
    height: 70px;
  }
  .logo-images {
    height: 7vh;
  }
  .team-names {
    font-size: 10px;
  }
}
