/* Write your CSS here */
.individual-team-details {
  background-image: linear-gradient(to bottom, #a4261d, #d91c1f);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-imageEl {
  margin-top: 30px;
  width: 100%;
}
.latest-matches {
  color: white;
  font-size: 15px;
  font-family: 'Bree Serif';
}
